*.py linguist-detectable=true

*.js linguist-detectable=false

node_modules/* linguist-vendored
dist/* linguist-vendored
build/* linguist-vendored

*.min.js linguist-vendored
*.min.css linguist-vendored
