frontend/** linguist-vendored
frontend/** linguist-generated

static/** linguist-vendored
dist/** linguist-vendored
build/** linguist-vendored
node_modules/** linguist-vendored

*.py linguist-detectable=true

*.json linguist-detectable=false
*.lock linguist-detectable=false
